body {
  background-color: #DD0506;
  color: white;
}
.jumbotron {
 box-sizing: border-box;
 height: 600px;
 background-color: rgba(0, 0, 0, 0);
}
#wrapper {
  height
}
.timer-p {
  margin-top: 40px;
}
.answer {
  padding-top: 7px;
  height: 45px;
  color: black;
  padding-left: 14px;
  background-color: white;
  border-radius: 4px;
}
